#logo {
    height: 300px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 200px;
    margin: auto;
    position: absolute;
    transition: 0.5s;
}

.button {
    text-decoration: none;
    color: #0071bc;
    background-color: white;
    padding: 5px 10px;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 50px;
    margin: auto;
    position: absolute;
    text-align: center;
    border-bottom-left-radius: 50px;
}

#play {
    top: 200px;
}
#study {
    top: 350px;
}
#about {
    top: 500px;
}

.button:hover {
    background-color: #0071bc;
    color: white;
}

@media only screen and (max-width: 600px) {
    #logo {
        height: 150px;
        bottom: 900px;
    }
    .button{
        bottom: 800px;
    }
}

#display {
    width:100vw;
    height: 100vh;
    position: fixed;
    left:0px;
    top:0px;
    background-image: url(imgs/waterpan.jpg);
    background-size: auto 150%;
    background-position: 50% center;
    z-index: -1;
    animation: pan 50s infinite ease-in-out;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
    0% {
        background-position: 100% 0%;
    }
}