/*THE CSS FOR THE LANDING PAGE*/

#logo {
    height: 300px;
    position: absolute;
    transition: 0.5s;
    margin: auto;
    left: 0px;
    right: 0px;
}

#content {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    position: absolute;
    height: 500px;
    width: 700px;
}

.button {
    text-decoration: none;
    color: #0071bc;
    background-color: white;
    padding: 5px 10px;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 50px;
    margin: auto;
    position: absolute;
    text-align: center;
    border-bottom-left-radius: 50px;
}

#play {
    top: 270px;
}
#study {
    top: 420px;
}

.button:hover {
    background-color: #0071bc;
    color: white;
}

#display {
    width:100vw;
    height: 100vh;
    position: fixed;
    left:0px;
    top:0px;
    background-image: url(imgs/waterpan.jpg);
    background-size: auto 150%;
    background-position: 50% center;
    z-index: -1;
    animation: pan 50s infinite ease-in-out;
}

@keyframes pan {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
    0% {
        background-position: 100% 0%;
    }
}

#subhead {
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.06em;
    font-weight: 100;
    height: 20px;
    width: 700px;
    left: 0px;
    right: 0px;
    top: 140px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    transition: 0.5s;
}

@media only screen and (max-width: 800px) {
    #logo {
        height: 150px;
        margin: auto;
    }
    
    #content {
        width: 100vw;
        margin-top: 50px;
    }
    
    #subhead {
        width: 400px;
        top: -150px;
    }
    #sean {
        float: none;
        margin: none;
    }
    #luigi {
        float: none;
        margin: none;
    }
}

@media only screen and (max-width: 400px) {
    #subhead {
        width: 100vw;
    }
    #logo {
        width: 90vw;
        height: auto;
    }
}

#team {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 10px;
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.2);
    padding: 0px 50px;
    text-align: center;
}

.role {
    font-weight: 100;
}

hr {
    width: 80vw;
    text-align: center;
    opacity: 0.5;
}

#sean {
    width: 40%;
    float: left;
    margin-left: 50px;
}
#luigi {
    width: 40%;
    float: right;
    margin-right: 50px;
}