
#caption {
    color: white;
    position: absolute;
    top: 180px;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

#start {
    top: 400px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    width: 300px;
}

.q {
    color: #0071bc;
    background-color: white;
    padding: 10px 50px;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    text-align: center;
    border-bottom-left-radius: 50px;
    width: 200px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-bottom:35px;
}

.q:hover {
    background-color: #0071bc;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.qsmol {
    color: #0071bc;
    background-color: white;
    padding: 10px 50px;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    text-align: center;
    border-bottom-left-radius: 50px;
    width: 200px;
    left: 0px;
    right: 0px;
    margin: auto;
    margin-bottom:35px;
}

.qsmol:hover {
    background-color: #0071bc;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.qblock {
    display: inline;
    margin: 50px;
}

.qblock:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

.qcap {
    color: white;
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.questionpanel {
    position: absolute;
    margin: auto;
    left: 500px;
    right: 0px;
    top: 300px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.flag {
    width: 250px;
    height: 165px;
}

#endtext {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26pt;
    font-weight: 100;
}

#endtext span {
    font-size: 18pt;
}

.ctry {
    background-color: rgba(255,255,255,0.2);
    border-bottom-left-radius: 50px;
    width: 300px;
}