#france path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#spain polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#croatia path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#slovakia polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#austria polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#belgium polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#finland path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#germany path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#greece path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#ireland path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#italy path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#netherlands path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#norway polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#poland polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#portugal polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#russia polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#sweden path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#turkey path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#uk path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#ukraine path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}
