#france path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#spain path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#croatia path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#slovakia polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#austria polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#belgium polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#finland path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#germany path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#greece path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#ireland path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#italy path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#netherlands path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#norway path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#poland polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#portugal path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#russia polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#sweden path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#turkey path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#uk path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#ukraine path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#china path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#mongolia polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#india path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#japan path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#srilanka path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#iran path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#taiwan path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#bangladesh path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#cambodia path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#afghanistan polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#indonesia path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#southkorea path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#philippines path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#vietnam path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#myanmar path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#thailand path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#pakistan polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#kazakhstan polygon:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#malaysia path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

#northkorea path:hover {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}