body{
    background-color: steelblue;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: inline;
}
.caption {
    color: white;
    font-family: sans-serif;
    font-size: 20pt;
}

.box {
    width: 200px;
    height: 250px;
    text-align: center;
}

.icons {
    display: inline;
}