#menu {
    left:-110px;
    top:50px;
    width:100px;
    padding:5px;
    background-color: steelblue;
    position: fixed;
    transition: 0.5s;
}
.innerbutton {
    width: 100%;
}
#stepper {
    width: 95%;
}
#open {
    width: 50px;
    right: -50px;
    top:0px;
    position: absolute;
}
#close {
    width: 50px;
    right: -50px;
    bottom:0px;
    position: absolute;
}