#mario {background-color: #C04748;}
#luigi {background-color: #6CA33F;}
#peach {background-color: #EEC6F1;}
#bowser {background-color: #4F745D;}
#bowserjr {background-color: #CDCB4B;}
#rosalina {background-color: #A8DED4;}
#drmario {background-color: #D8666A;}
#toad {background-color: #565bdd;}
#daisy {background-color: #D36836;}
#waluigi {background-color: #8A5CE5;}
#birdo {background-color: #82275B}
#captaintoad {background-color: #C7A469}
#ludwigvonkoopa {background-color: #415BC5}
#lemmykoopa {background-color: #5A8F4A}
#roykoopa {background-color: #353229}
#iggykoopa {background-color: #C8BD3A}
#wendyokoopa {background-color: #5143A0}
#mortonkoopajr {background-color: #A33826}
#larrykoopa {background-color: #C96024}
#boomboom {background-color: #E7A33C}
#pompom {background-color: #8D453B}
#wart {background-color: #B8DF66}
#tatanga {background-color: #B07FD5}
#peteypiranha {background-color: #70BF4B}
#kingboo {background-color: #5F5074}
#kingbobomb {background-color: #5E5C8C}
#egadd {background-color: #6481A2}
#shadowmario {background-color: #3237A7}
#nabbit {background-color: #442D5F}
#foremanspike {background-color: #515E8E}
#koopakid {background-color: #5F792D}
#luma {background-color: #F6E788}
#pianta {background-color: #82B5D2}
#noki {background-color: #4D6CA8}
#ilpiantissimo {background-color: #AE5392}
#cosmicmario {background-color: #879DEC}
#dinopiranha {background-color: #812977}
#kamella {background-color: #81221B}
#motleybossblob {background-color: #625861}
#wingo {background-color: #474770}
#hammerbro {background-color: #3C414A}
#lakitu {background-color: #7C7F92}
#blooper {background-color: #5D92B4}
#koopatroopa {background-color: #446135}
#goomba {background-color: #AB936D}
#charginchuck {background-color: #C69B2F}
#wiggler {background-color: #E7AB50}
#montymole {background-color: #806344}
#spike {background-color: #8BAE8C}
#plum {background-color: #C85B6A}
#imajin {background-color: #303DA6}
#drybowser {background-color: #975253}
#meowser {background-color: #946926}
#marioandfludd {background-color: #7F80F7}
#artistmario {background-color: #EEC235}
#tanookimario {background-color: #BD906E}
#robomario {background-color: #8F90A0}
#mariomario {background-color: #4371C7}
#yoshi {background-color: #90CD5E}
#babybros {background-color: #b2d4ff}
#kamek {background-color: #3D566A}
#babybowser {background-color: #BCDC7C}
#poochy {background-color: #DF7573}
#raphael {background-color: #963b25}
#shyguy {background-color: #c4ae87}
#chefmario {background-color: #EDC29B}
#donkeykong {background-color: #F3D83A}
#diddykong {background-color: #D0544E}
#dixiekong {background-color: #F2D3F2}
#kingkrool {background-color: #444E12}
#crankykong {background-color: #7B6663}
#funkykong {background-color: #779EA2}
#lankykong {background-color: #8FB4FB}
#tinykong {background-color: #9878cc}
#chunkykong {background-color: #443222}
#candykong {background-color: #F5DCFC}
#kiddykong {background-color: #b5dddd}
#rambi {background-color: #C7C7C7}
#krazykalimba {background-color: #7583AB}
#lordfredrik {background-color: #B48D62}
#kritter {background-color: #8FAB6E}
#dreadkong {background-color: #701B22}
#colonelpluck {background-color: #DBD08E}
#donkeykongjr {background-color: #CF5F55}
#pauline {background-color: #d79ae2}
#stanley {background-color: #7E86E6}
#jumpman {background-color: #4b4c82}
#wizpig {background-color: #60424E}
#taj {background-color: #363B77}
#wario {background-color: #EFC95A}
#classicwario {background-color: #99439C}
#captainsyrup {background-color: #846FB5}
#shakeking {background-color: #8E8C8C}
#rudy {background-color: #457747}
#princessshokora {background-color: #E9AECD}
#goldendiva {background-color: #cc6889}
#countcannoli {background-color: #502F44}
#katandana {background-color: #436EA6}
#mona {background-color: #E59A5F}
#jimmyt {background-color: #3E688D}
#ninevolt {background-color: #D04450}
#dribbleandspitz {background-color: #BCB32F}
#orbulon {background-color: #E0E0E0}
#drcrygor {background-color: #6A92DE}
#ashley {background-color: #423C3C}
#mike {background-color: #6BA3C5}
#penny {background-color: #835D65}
#youngcricket {background-color: #703C71}
#fronk {background-color: #FBF685}
#redbriefj {background-color: #723e3b}
#wanda {background-color: #E7A4AB}
#papermario {background-color: #c65e5d}
#paperluigi {background-color: #a4d160}
#paperpeach {background-color: #f6e2ff}
#paperbowser {background-color: #94b597}
#jrtroopa {background-color: #EBC93D}
#themaster {background-color: #7a3e3d}
#crystalking {background-color: #78799A}
#tubbablubba {background-color: #9F91B5}
#rawkhawk {background-color: #A99228}
#goombella {background-color: #ce676e}
#vivian {background-color: #614075}
#flurrie {background-color: #6C6AA2}
#bobbery {background-color: #483715}
#shadowqueen {background-color: #36223f}
#sirgrodus {background-color: #344D80}
#lordcrump {background-color: #B8716B}
#countbleck {background-color: #3e3668}
#dimentio {background-color: #9777c6}
#ochunks {background-color: #db9964}
#mimi {background-color: #9aad66}
#kersti {background-color: #647cba}
#fawful {background-color: #7d8446}
#cackletta {background-color: #a56fa5}
#popple {background-color: #524453}
#princepeasley {background-color: #fbfcab}
#princessshroob {background-color: #725e8e}
#shroob {background-color: #BBC9DE}
#darkbowser {background-color: #53325A}
#midbus {background-color: #7a3955}
#elitetrio {background-color: #8fb55e}
#dreambert {background-color: #6695e2}
#antasma {background-color: #433B5F}
#dreamybowser {background-color: #bf61b6}
#geno {background-color: #70583a}
#mallow {background-color: #A3CFF2}
#smithy {background-color: #3A4351}
#axemred {background-color: #A57071}
#yaridovich {background-color: #9A9891}
#valentina {background-color: #EDC9D8}
#booster {background-color: #400405}
#culex {background-color: #9A87B2}
#link {background-color: #C2CE6B}
#zelda {background-color: #f2a9bc}
#ganondorf {background-color: #7C7896}
#sheik {background-color: #746ED2}
#toonlink {background-color: #ABD158}
#younglink {background-color: #75af46}
#impa {background-color: #6EB9E4}
#wolflink {background-color: #84D0CF}
#ghirahim {background-color: #B28636}
#fi {background-color: #BDE6FC}
#groose {background-color: #D8635D}
#toonzelda {background-color: #E8ABF5}
#toonganondorf {background-color: #d8866e}
#tetra {background-color: #6C6FB0}
#zant {background-color: #365A4D}
#ravio {background-color: #DA9EF8}
#skullkid {background-color: #6E5FCD}
#ruto {background-color: #99f4f7}
#darunia {background-color: #735F39}
#saria {background-color: #35491c}
#nabooru {background-color: #ba3635}
#rauru {background-color: #af7744}
#dekulink {background-color: #44673B}
#goronlink {background-color: #DCB748}
#zoralink {background-color: #648DA2}
#tingle {background-color: #EFC64F}
#vaati {background-color: #60527c}
#demise {background-color: #421E1A}
#ganon {background-color: #5B100D}
#yuga {background-color: #555884}
#veran {background-color: #2f8d8d}
#onox {background-color: #7D2013}
#aghanim {background-color: #62213f}
#majora {background-color: #7f4966}
#phantomganon {background-color: #335563}
#helmarocking {background-color: #b4a46b}
#darklink {background-color: #411f42}
#medli {background-color: #cc886c}
#makar {background-color: #B0E745}
#agitha {background-color: #AD9DC7}
#herosshade {background-color: #E5BD59}
#twilimidna {background-color: #91A9A1}
#happymasksalesman {background-color: #584e8c}
#din {background-color: #a31532}
#nayru {background-color: #4e79ad}
#greatfairy {background-color: #d65e85}
#kinghyrule {background-color: #c15438}
#beedle {background-color: #737E8C}
#orca {background-color: #62676F}
#gondo {background-color: #A28D51}
#linebeck {background-color: #7792c6}
#alfonzo {background-color: #8e5c4b}
#byrne {background-color: #566628}
#malon {background-color: #F0D757}
#marin {background-color: #C2D6F6}
#hyliansoldier {background-color: #c1bcb0}
#kingbulblin {background-color: #99A058}
#twinrova {background-color: #6e4b77}
#shadownightmares {background-color: #77A758}
#bellum {background-color: #ad783a}
#silentguardian {background-color: #D7DAB5}
#volvagia {background-color: #c4826a}
#gohma {background-color: #578C6E}
#garomaster {background-color: #b26e93}
#classiclink {background-color: #6f8c59}
#fourlinks {background-color: #CFB062}
#triforceheroes {background-color: #e5d96b}
#darknut {background-color: #6D6968}
#stalfos {background-color: #908376}
#lizalfos {background-color: #7A974C}
#moblin {background-color: #E2AA47}
#poe {background-color: #7b6c87}
#lana {background-color: #BEEBED}
#cia {background-color: #5E4E64}
#volga {background-color: #BC7444}
#wizzro {background-color: #B68DD6}
#warriorlink {background-color: #5a89bc}
#unclerupee {background-color: #A6CB5C}
#gwonam {background-color: #988ae2}

#kirby {background-color: #EABEC2}
#kingdedede {background-color: #F8E772}
#metaknight {background-color: #364077}
#bandanadee {background-color: #e86943}
#knucklejoe {background-color: #f7be3b}
#princefluff {background-color: #95d2ff}
#darkmatter {background-color: #584389}
#galactaknight {background-color: #b4569d}
#gooey {background-color: #646ace}
#rick {background-color: #e0ce8d}
#coo {background-color: #c6adc2}
#nago {background-color: #ebc872}
#pitch {background-color: #bcdb62}
#chuchu {background-color: #d66e74}
#bonkers {background-color: #a48dba}
#plasmawisp {background-color: #F9F7CA}
#biospark {background-color: #5f79ac}
#sirkibble {background-color: #fcd572}
#waddledoo {background-color: #ffa73e}
#bladeknight {background-color: #7ace9a}
#poppybrosr {background-color: #90cbcc}
#simirror {background-color: #90343f}
#burningleo {background-color: #E7A930}
#golem {background-color: #a39159}
#tac {background-color: #6FAF3B}
#gim {background-color: #C63849}
#capsulejtwo {background-color: #77a4c7}
#wheelie {background-color: #AF626B}
#spynum {background-color: #705a9a}
#adeleine {background-color: #4b97ce}
#ribbon {background-color: #99caf5}
#magolor {background-color: #274095}
#taranza {background-color: #d0823d}
#queensectonia {background-color: #c65368}
#daroach {background-color: #834740}
#darknebula {background-color: #301b6a}
#dynablade {background-color: #963d61}
#marx {background-color: #ba85ea}
#darkmind {background-color: #ce7a3f}
#darkmetaknight {background-color: #534d74}
#nightmare {background-color: #55408F}
#zerotwo {background-color: #ac3931}
#miraclematter {background-color: #b1b197}
#yinyarn {background-color: #4c81b5}
#drawcia {background-color: #593471}
#necrodeus {background-color: #48589C}
#whispywoods {background-color: #6DAC31}
#chefkawasaki {background-color: #c37820}
#bugzzy {background-color: #8b78a5}
#mrshineandmrbright {background-color: #d39b4e}
#kracko {background-color: #abbac7}
#lololoandlalala {background-color: #aa587e}
#mrfrosty {background-color: #6f7bc1}
#heavymole {background-color: #e3cf80}
#paintroller {background-color: #ff6a67}
#ponandcon {background-color: #cb6e3a}
#captainvul {background-color: #a3322a}
#hornhead {background-color: #723876}
#paintra {background-color: #ea809b}
#gigantedge {background-color: #6cafb4}
#mrdooter {background-color: #946bc4}
#goriath {background-color: #ebdb7e}
#metalgeneral {background-color: #d6d32e}
#landia {background-color: #a04f2a}
#pix {background-color: #605757}
#computervirus {background-color: #646a7c}
#gryll {background-color: #d9cd6e}
#claykirby {background-color: #4a8cde}
#splitkirby {background-color: #ffdae3}
#pikachu {background-color: #EDBF34}
#jigglypuff {background-color: #D786E8}
#charizard {background-color: #D66933}
#mewtwo {background-color: #7558BE}
#lucario {background-color: #BFE3FD}
#greninja {background-color: #5D73A5}
#squirtle {background-color: #ef9741}
#ivysaur {background-color: #519f41}
#pichu {background-color: #fffaac}
#blastoise {background-color: #71A7DA}
#meowth {background-color: #E7AC3A}
#gengar {background-color: #3f375d}
#raichu {background-color: #8e6900}
#beedrill {background-color: #9f5858}
#machamp {background-color: #5670b1}
#sandslash {background-color: #655947}
#hitmonlee {background-color: #984437}
#hitmonchan {background-color: #5f5b7b}
#geodude {background-color: #5a494b}
#pinsir {background-color: #8d543e}
#kangaskhan {background-color: #A8A6BD}
#hypno {background-color: #988734}
#cubone {background-color: #775f83}
#alakazam {background-color: #916d64}
#nidoking {background-color: #bd6bd8}
#nidoqueen {background-color: #4481b9}
#ninetales {background-color: #AB4442}
#kabutops {background-color: #746F7A}
#rhydon {background-color: #968987}
#mrmime {background-color: #fcbdc4}
#dragonite {background-color: #a7875e}
#mew {background-color: #b26d6f}
#feraligatr {background-color: #429bc4}
#typhlosion {background-color: #aa6b3c}
#heracross {background-color: #6c7a8b}
#houndoom {background-color: #9a3841}
#scizor {background-color: #bfa156}
#tyranitar {background-color: #8088A4}
#lugia {background-color: #606cde}
#suicune {background-color: #a17cb5}
#sceptile {background-color: #54863d}
#swampert {background-color: #5081be}
#blaziken {background-color: #B55D55}
#gardevoir {background-color: #e07ea0}
#plusleandminun {background-color: #a874e5}
#zangoose {background-color: #9b202c}
#sableye {background-color: #6eabcb}
#banette {background-color: #B95D7B}
#salamence {background-color: #6d79bc}
#metagross {background-color: #577087}
#aggron {background-color: #6c7389}
#deoxys {background-color: #c97566}
#groudon {background-color: #dd8a00}
#rayquaza {background-color: #c8c92b}
#torterra {background-color: #36652c}
#infernape {background-color: #e29c56}
#lopunny {background-color: #d1b036}
#garchomp {background-color: #505a7b}
#roserade {background-color: #3a7b34}
#abomasnow {background-color: #57716b}
#dusknoir {background-color: #5c5f49}
#rotom {background-color: #e5a657}
#weavile {background-color: #5667d8}
#gallade {background-color: #8e525f}
#arceus {background-color: #869386}
#darkrai {background-color: #684c90}
#serperior {background-color: #4b9d63}
#braixen {background-color: #b25323}
#zoroark {background-color: #794e54}
#genesect {background-color: #4e2c76}
#bisharp {background-color: #65464f}
#hydreigon {background-color: #893a55}
#cofagrigus {background-color: #4b585d}
#sigilyph {background-color: #5b7b51}
#pangoro {background-color: #5662b1}
#archeops {background-color: #12b4af}
#golurk {background-color: #1d9cd8}
#garbodor {background-color: #956b2d}
#chandelure {background-color: #C46C41}
#victini {background-color: #c74f14}
#meloetta {background-color: #5eaabe}
#keldeo {background-color: #ac5e47}
#hawlucha {background-color: #318958}
#goodra {background-color: #9e61e2}
#dedenne {background-color: #c7b48e}
#aegislash {background-color: #7e5a95}
#tyrantrum {background-color: #ac7674}
#diancie {background-color: #d668b9}
#yveltal {background-color: #8e4c3c}
#hoopa {background-color: #c388a4}
#decidueye {background-color: #c94d36}
#salazzle {background-color: #ba4f74}
#buzzwole {background-color: #9d373d}
#tapukoko {background-color: #cdd477}
#marshadow {background-color: #764c95}
#pikachulibre {background-color: #DC5D4B}
#red {background-color: #c62045}
#wes {background-color: #4f739f}
#toddsnap {background-color: #84556b}
#pokemonranger {background-color: #ccba4e}
#missingno {background-color: #7B7094}
#samus {background-color: #764e31}
#zerosuitsamus {background-color: #355BA5}
#ridley {background-color: #41365c}
#darksamus {background-color: #445762}
#trace {background-color: #b4433d}
#kanden {background-color: #6d6d15}
#weavel {background-color: #a2a57c}
#sylux {background-color: #8aaa50}
#spire {background-color: #866544}
#noxus {background-color: #314da3}
#ghor {background-color: #817274}
#rundas {background-color: #4a9c9f}
#gandrayda {background-color: #6f58cb}
#anthonyhiggs {background-color: #ce8743}
#adammalkovich {background-color: #405273}
#motherbrain {background-color: #6c2e1d}
#kraid {background-color: #adc14c}
#crocomire {background-color: #e3a01a}
#omegametroid {background-color: #c73527}
#metroidprime {background-color: #233857}
#sax {background-color: #8458e0}
#fox {background-color: #a33a13}
#falco {background-color: #79B0E0}
#wolf {background-color: #655fb2}
#krystal {background-color: #4426a2}
#slippy {background-color: #a2ea36}
#peppy {background-color: #749f85}
#andross {background-color: #8c509f}
#leon {background-color: #337c3b}
#pigma {background-color: #79414d}
#andrew {background-color: #c6b715}
#panther {background-color: #4242c3}
#generalscales {background-color: #468428}
#tricky {background-color: #b44ba4}
#captainfalcon {background-color: #4144d0}
#blackshadow {background-color: #4D4D4D}
#samuraigoroh {background-color: #b956ad}
#deathborn {background-color: #4c3995}
#jodysummer {background-color: #8F8CD3}
#pico {background-color: #E8B934}
#bloodfalcon {background-color: #cb4239}
#beastman {background-color: #6C8484}
#spade {background-color: #BEBEBE}
#marth {background-color: #6DA8C9}
#ike {background-color: #A94C3D}
#robin {background-color: #BA84DA}
#lucina {background-color: #85A5C7}
#roy {background-color: #A93A2F}
#corrin {background-color: #72A7C0}
#lyn {background-color: #79b178}
#chrom {background-color: #4f5aaa}
#micaiah {background-color: #c73a82}
#anna {background-color: #e3c328}
#hector {background-color: #9d4f41}
#caeda {background-color: #3969cb}
#tiki {background-color: #94c43d}
#blackknight {background-color: #5d0005}
#sothe {background-color: #26ac54}
#eirika {background-color: #118f9d}
#ephraim {background-color: #32bc2e}
#tharja {background-color: #7F6CA6}
#frederick {background-color: #647088}
#lonqu {background-color: #854440}
#nowi {background-color: #ff7768}
#panne {background-color: #895d2b}
#henry {background-color: #482562}
#kellam {background-color: #de7e26}
#sumia {background-color: #faafa9}
#sumia {background-color: #faafa9}
#walhart {background-color: #502c2a}
#ness {background-color: #CC3A3A}
#lucas {background-color: #D0632D}
#jeff {background-color: #78b9a0}
#paula {background-color: #ffa3d3}
#poo {background-color: #a0a0a0}
#kumatora {background-color: #5890fd}
#flint {background-color: #c64540}
#duster {background-color: #3972b4}
#ninten {background-color: #4c58c7}
#ana {background-color: #ff86ca}
#teddy {background-color: #de594f}
#loid {background-color: #aba4eb}
#porky {background-color: #d0a33c}
#giygas {background-color: #b21c10}
#maskedman {background-color: #db7335}
#starman {background-color: #6a78a3}
#flyingman {background-color: #db72bb}
#pigmask {background-color: #8b554e}