#mario {background-color: #C04748;}
#luigi {background-color: #6CA33F;}
#peach {background-color: #EEC6F1;}
#bowser {background-color: #4F745D;}
#bowserjr {background-color: #CDCB4B;}
#rosalina {background-color: #A8DED4;}
#drmario {background-color: #D8666A;}
#toad {background-color: #565bdd;}
#daisy {background-color: #D36836;}
#waluigi {background-color: #8A5CE5;}
#birdo {background-color: #82275B}
#captaintoad {background-color: #C7A469}
#ludwigvonkoopa {background-color: #415BC5}
#lemmykoopa {background-color: #5A8F4A}
#roykoopa {background-color: #353229}
#iggykoopa {background-color: #C8BD3A}
#wendyokoopa {background-color: #5143A0}
#mortonkoopajr {background-color: #A33826}
#larrykoopa {background-color: #C96024}
#boomboom {background-color: #E7A33C}
#pompom {background-color: #8D453B}
#wart {background-color: #B8DF66}
#tatanga {background-color: #B07FD5}
#peteypiranha {background-color: #70BF4B}
#kingboo {background-color: #5F5074}
#kingbobomb {background-color: #5E5C8C}
#egadd {background-color: #6481A2}
#shadowmario {background-color: #3237A7}
#nabbit {background-color: #442D5F}
#foremanspike {background-color: #515E8E}
#koopakid {background-color: #5F792D}
#luma {background-color: #F6E788}
#pianta {background-color: #82B5D2}
#noki {background-color: #4D6CA8}
#ilpiantissimo {background-color: #AE5392}
#cosmicmario {background-color: #879DEC}
#dinopiranha {background-color: #812977}
#kamella {background-color: #81221B}
#motleybossblob {background-color: #625861}
#wingo {background-color: #474770}
#hammerbro {background-color: #3C414A}
#lakitu {background-color: #7C7F92}
#blooper {background-color: #5D92B4}
#koopatroopa {background-color: #446135}
#goomba {background-color: #AB936D}
#charginchuck {background-color: #C69B2F}
#wiggler {background-color: #E7AB50}
#montymole {background-color: #806344}
#spike {background-color: #8BAE8C}
#plum {background-color: #C85B6A}
#imajin {background-color: #303DA6}
#drybowser {background-color: #975253}
#meowser {background-color: #946926}
#marioandfludd {background-color: #7F80F7}
#artistmario {background-color: #EEC235}
#tanookimario {background-color: #BD906E}
#robomario {background-color: #8F90A0}
#mariomario {background-color: #4371C7}
#yoshi {background-color: #90CD5E}
#babybros {background-color: #b2d4ff}
#kamek {background-color: #3D566A}
#babybowser {background-color: #BCDC7C}
#poochy {background-color: #DF7573}
#raphael {background-color: #963b25}
#shyguy {background-color: #c4ae87}
#chefmario {background-color: #EDC29B}
#donkeykong {background-color: #F3D83A}
#diddykong {background-color: #D0544E}
#dixiekong {background-color: #F2D3F2}
#kingkrool {background-color: #444E12}
#crankykong {background-color: #7B6663}
#funkykong {background-color: #779EA2}
#lankykong {background-color: #8FB4FB}
#tinykong {background-color: #9878cc}
#chunkykong {background-color: #443222}
#candykong {background-color: #F5DCFC}
#kiddykong {background-color: #b5dddd}
#rambi {background-color: #C7C7C7}
#krazykalimba {background-color: #7583AB}
#lordfredrik {background-color: #B48D62}
#kritter {background-color: #8FAB6E}
#dreadkong {background-color: #701B22}
#colonelpluck {background-color: #DBD08E}
#donkeykongjr {background-color: #CF5F55}
#pauline {background-color: #d79ae2}
#stanley {background-color: #7E86E6}
#jumpman {background-color: #4b4c82}
#wizpig {background-color: #60424E}
#taj {background-color: #363B77}
#wario {background-color: #EFC95A}
#classicwario {background-color: #99439C}
#captainsyrup {background-color: #846FB5}
#shakeking {background-color: #8E8C8C}
#rudy {background-color: #E9AECD}
#princessshokora {background-color: #457747}
#goldendiva {background-color: #cc6889}
#countcannoli {background-color: #502F44}
#katandana {background-color: #436EA6}
#mona {background-color: #E59A5F}
#jimmyt {background-color: #3E688D}
#ninevolt {background-color: #D04450}
#dribbleandspitz {background-color: #BCB32F}
#orbulon {background-color: #E0E0E0}
#drcrygor {background-color: #6A92DE}
#ashley {background-color: #423C3C}
#mike {background-color: #6BA3C5}
#penny {background-color: #835D65}
#youngcricket {background-color: #703C71}
#fronk {background-color: #FBF685}
#redbriefj {background-color: #723e3b}
#wanda {background-color: #E7A4AB}
#papermario {background-color: #c65e5d}
#paperluigi {background-color: #a4d160}
#paperpeach {background-color: #f6e2ff}
#paperbowser {background-color: #94b597}
#jrtroopa {background-color: #EBC93D}
#themaster {background-color: #7a3e3d}
#crystalking {background-color: #78799A}
#tubbablubba {background-color: #9F91B5}
#rawkhawk {background-color: #A99228}
#goombella {background-color: #ce676e}
#vivian {background-color: #614075}
#flurrie {background-color: #6C6AA2}
#bobbery {background-color: #483715}
#shadowqueen {background-color: #36223f}
#sirgrodus {background-color: #344D80}
#lordcrump {background-color: #B8716B}
#countbleck {background-color: #3e3668}
#dimentio {background-color: #9777c6}
#ochunks {background-color: #db9964}
#mimi {background-color: #9aad66}
#kersti {background-color: #647cba}
#fawful {background-color: #7d8446}
#cackletta {background-color: #a56fa5}
#popple {background-color: #524453}
#princepeasley {background-color: #fbfcab}
#princessshroob {background-color: #725e8e}
#shroob {background-color: #BBC9DE}
#darkbowser {background-color: #53325A}
#midbus {background-color: #7a3955}
#elitetrio {background-color: #8fb55e}
#dreambert {background-color: #6695e2}
#antasma {background-color: #433B5F}
#dreamybowser {background-color: #bf61b6}
#geno {background-color: #70583a}
#mallow {background-color: #A3CFF2}
#smithy {background-color: #3A4351}
#axemred {background-color: #A57071}
#yaridovich {background-color: #9A9891}
#valentina {background-color: #EDC9D8}
#booster {background-color: #400405}
#culex {background-color: #9A87B2}