#mario {background-color: #C04748;}
#luigi {background-color: #6CA33F;}
#peach {background-color: #EEC6F1;}
#bowser {background-color: #4F745D;}
#bowserjr {background-color: #CDCB4B;}
#rosalina {background-color: #A8DED4;}
#drmario {background-color: #D8666A;}
#toad {background-color: #565bdd;}
#daisy {background-color: #E3BC45;}
#waluigi {background-color: #8A5CE5;}
#birdo {background-color: #82275B}
#captaintoad {background-color: #C7A469}
#cappy {background-color: #7092C0}
#ludwigvonkoopa {background-color: #415BC5}
#lemmykoopa {background-color: #5A8F4A}
#roykoopa {background-color: #353229}
#iggykoopa {background-color: #C8BD3A}
#wendyokoopa {background-color: #5143A0}
#mortonkoopajr {background-color: #A33826}
#larrykoopa {background-color: #C96024}
#boomboom {background-color: #E7A33C}
#pompom {background-color: #8D453B}
#wart {background-color: #B8DF66}
#tatanga {background-color: #B07FD5}
#peteypiranha {background-color: #70BF4B}
#kingboo {background-color: #5F5074}
#kingbobomb {background-color: #5E5C8C}
#egadd {background-color: #6481A2}
#shadowmario {background-color: #3237A7}
#nabbit {background-color: #442D5F}
#foremanspike {background-color: #515E8E}
#koopakid {background-color: #5F792D}
#luma {background-color: #F6E788}
#pianta {background-color: #82B5D2}
#noki {background-color: #4D6CA8}
#ilpiantissimo {background-color: #AE5392}
#cosmicmario {background-color: #879DEC}
#dinopiranha {background-color: #812977}
#kamella {background-color: #81221B}
#motleybossblob {background-color: #625861}
#bogmire {background-color: #8a7ba3}
#wingo {background-color: #474770}
#hammerbro {background-color: #3C414A}
#lakitu {background-color: #7C7F92}
#blooper {background-color: #5D92B4}
#koopatroopa {background-color: #446135}
#goomba {background-color: #AB936D}
#charginchuck {background-color: #C69B2F}
#wiggler {background-color: #E7AB50}
#montymole {background-color: #806344}
#spike {background-color: #8BAE8C}
#plum {background-color: #C85B6A}
#imajin {background-color: #303DA6}
#drybowser {background-color: #975253}
#meowser {background-color: #946926}
#marioandfludd {background-color: #7F80F7}
#artistmario {background-color: #EEC235}
#tanookimario {background-color: #BD906E}
#robomario {background-color: #8F90A0}
#mariomario {background-color: #4371C7}
#yoshi {background-color: #90CD5E}
#babybros {background-color: #b2d4ff}
#kamek {background-color: #3D566A}
#babybowser {background-color: #BCDC7C}
#poochy {background-color: #DF7573}
#raphael {background-color: #963b25}
#shyguy {background-color: #c4ae87}
#yarnyoshi {background-color: #5F95EA}
#chefmario {background-color: #EDC29B}
#donkeykong {background-color: #F3D83A}
#diddykong {background-color: #D0544E}
#dixiekong {background-color: #F2D3F2}
#kingkrool {background-color: #708645}
#crankykong {background-color: #7B6663}
#funkykong {background-color: #779EA2}
#lankykong {background-color: #8FB4FB}
#tinykong {background-color: #9878cc}
#chunkykong {background-color: #443222}
#candykong {background-color: #F5DCFC}
#kiddykong {background-color: #b5dddd}
#rambi {background-color: #C7C7C7}
#krazykalimba {background-color: #7583AB}
#lordfredrik {background-color: #B48D62}
#kritter {background-color: #8FAB6E}
#dreadkong {background-color: #701B22}
#colonelpluck {background-color: #DBD08E}
#donkeykongjr {background-color: #CF5F55}
#pauline {background-color: #d79ae2}
#stanley {background-color: #7E86E6}
#jumpman {background-color: #4b4c82}
#wizpig {background-color: #60424E}
#taj {background-color: #363B77}
#wario {background-color: #EFC95A}
#classicwario {background-color: #99439C}
#captainsyrup {background-color: #846FB5}
#shakeking {background-color: #8E8C8C}
#rudy {background-color: #457747}
#princessshokora {background-color: #E9AECD}
#goldendiva {background-color: #cc6889}
#countcannoli {background-color: #502F44}
#katandana {background-color: #436EA6}
#mona {background-color: #E59A5F}
#jimmyt {background-color: #3E688D}
#ninevolt {background-color: #D04450}
#dribbleandspitz {background-color: #BCB32F}
#orbulon {background-color: #E0E0E0}
#drcrygor {background-color: #e5c72a}
#ashley {background-color: #423C3C}
#mike {background-color: #6BA3C5}
#penny {background-color: #835D65}
#youngcricket {background-color: #703C71}
#fronk {background-color: #FBF685}
#redbriefj {background-color: #723e3b}
#wanda {background-color: #E7A4AB}
#papermario {background-color: #c65e5d}
#paperluigi {background-color: #a4d160}
#paperpeach {background-color: #f6e2ff}
#paperbowser {background-color: #94b597}
#jrtroopa {background-color: #EBC93D}
#themaster {background-color: #7a3e3d}
#crystalking {background-color: #78799A}
#tubbablubba {background-color: #9F91B5}
#rawkhawk {background-color: #A99228}
#goombella {background-color: #ce676e}
#vivian {background-color: #614075}
#flurrie {background-color: #6C6AA2}
#bobbery {background-color: #483715}
#shadowqueen {background-color: #36223f}
#sirgrodus {background-color: #344D80}
#lordcrump {background-color: #B8716B}
#countbleck {background-color: #3e3668}
#dimentio {background-color: #9777c6}
#ochunks {background-color: #db9964}
#mimi {background-color: #9aad66}
#kersti {background-color: #647cba}
#fawful {background-color: #7d8446}
#cackletta {background-color: #a56fa5}
#popple {background-color: #524453}
#princepeasley {background-color: #fbfcab}
#princessshroob {background-color: #725e8e}
#shroob {background-color: #BBC9DE}
#darkbowser {background-color: #53325A}
#midbus {background-color: #7a3955}
#elitetrio {background-color: #8fb55e}
#dreambert {background-color: #6695e2}
#antasma {background-color: #433B5F}
#dreamybowser {background-color: #bf61b6}
#geno {background-color: #70583a}
#mallow {background-color: #A3CFF2}
#smithy {background-color: #3A4351}
#axemred {background-color: #A57071}
#yaridovich {background-color: #9A9891}
#valentina {background-color: #EDC9D8}
#booster {background-color: #400405}
#culex {background-color: #9A87B2}
#link {background-color: #C2CE6B}
#zelda {background-color: #f2a9bc}
#ganondorf {background-color: #7C7896}
#sheik {background-color: #746ED2}
#toonlink {background-color: #ABD158}
#younglink {background-color: #75af46}
#championlink {background-color: #c7eafa}
#championzelda {background-color: #ffee95}
#impa {background-color: #6EB9E4}
#wolflink {background-color: #84D0CF}
#ghirahim {background-color: #B28636}
#fi {background-color: #BDE6FC}
#groose {background-color: #D8635D}
#toonzelda {background-color: #E8ABF5}
#toonganondorf {background-color: #d8866e}
#tetra {background-color: #6C6FB0}
#zant {background-color: #365A4D}
#ravio {background-color: #DA9EF8}
#skullkid {background-color: #6E5FCD}
#ruto {background-color: #99f4f7}
#darunia {background-color: #735F39}
#saria {background-color: #35491c}
#nabooru {background-color: #ba3635}
#rauru {background-color: #af7744}
#revali {background-color: #8EC37F}
#daruk {background-color: #9D352B}
#mipha {background-color: #6296B6}
#urbosa {background-color: #EECE71}
#dekulink {background-color: #44673B}
#goronlink {background-color: #DCB748}
#zoralink {background-color: #648DA2}
#tingle {background-color: #EFC64F}
#vaati {background-color: #60527c}
#demise {background-color: #421E1A}
#ganon {background-color: #5B100D}
#yuga {background-color: #555884}
#veran {background-color: #2f8d8d}
#onox {background-color: #7D2013}
#aghanim {background-color: #62213f}
#majora {background-color: #7f4966}
#phantomganon {background-color: #335563}
#helmarocking {background-color: #b4a46b}
#darklink {background-color: #411f42}
#medli {background-color: #cc886c}
#makar {background-color: #B0E745}
#agitha {background-color: #AD9DC7}
#herosshade {background-color: #E5BD59}
#twilimidna {background-color: #91A9A1}
#happymasksalesman {background-color: #584e8c}
#din {background-color: #a31532}
#nayru {background-color: #4e79ad}
#greatfairy {background-color: #d65e85}
#kinghyrule {background-color: #c15438}
#beedle {background-color: #737E8C}
#orca {background-color: #62676F}
#gondo {background-color: #A28D51}
#linebeck {background-color: #7792c6}
#alfonzo {background-color: #8e5c4b}
#byrne {background-color: #566628}
#malon {background-color: #F0D757}
#marin {background-color: #C2D6F6}
#hyliansoldier {background-color: #c1bcb0}
#kingbulblin {background-color: #99A058}
#twinrova {background-color: #6e4b77}
#shadownightmares {background-color: #77A758}
#bellum {background-color: #ad783a}
#silentguardian {background-color: #D7DAB5}
#volvagia {background-color: #c4826a}
#gohma {background-color: #578C6E}
#garomaster {background-color: #b26e93}
#classiclink {background-color: #6f8c59}
#fourlinks {background-color: #CFB062}
#triforceheroes {background-color: #e5d96b}
#darknut {background-color: #6D6968}
#stalfos {background-color: #908376}
#lizalfos {background-color: #7A974C}
#moblin {background-color: #E2AA47}
#poe {background-color: #7b6c87}
#lynel {background-color: #744840}
#yigablademaster {background-color: #d1b46f}
#lana {background-color: #BEEBED}
#cia {background-color: #5E4E64}
#linkle {background-color: #e8ff90}
#volga {background-color: #BC7444}
#wizzro {background-color: #B68DD6}
#warriorlink {background-color: #5a89bc}
#unclerupee {background-color: #A6CB5C}
#gwonam {background-color: #988ae2}
#kirby {background-color: #EABEC2}
#kingdedede {background-color: #F8E772}
#metaknight {background-color: #364077}
#bandanadee {background-color: #e86943}
#knucklejoe {background-color: #f7be3b}
#princefluff {background-color: #95d2ff}
#darkmatter {background-color: #584389}
#galactaknight {background-color: #b4569d}
#gooey {background-color: #646ace}
#rick {background-color: #e0ce8d}
#coo {background-color: #c6adc2}
#nago {background-color: #ebc872}
#pitch {background-color: #bcdb62}
#chuchu {background-color: #d66e74}
#bonkers {background-color: #a48dba}
#plasmawisp {background-color: #F9F7CA}
#biospark {background-color: #5f79ac}
#sirkibble {background-color: #fcd572}
#waddledoo {background-color: #ffa73e}
#bladeknight {background-color: #7ace9a}
#poppybrosr {background-color: #90cbcc}
#simirror {background-color: #90343f}
#burningleo {background-color: #E7A930}
#golem {background-color: #a39159}
#tac {background-color: #6FAF3B}
#gim {background-color: #C63849}
#capsulejtwo {background-color: #77a4c7}
#wheelie {background-color: #AF626B}
#spynum {background-color: #705a9a}
#adeleine {background-color: #4b97ce}
#ribbon {background-color: #99caf5}
#susie {background-color: #ff7991}
#magolor {background-color: #274095}
#taranza {background-color: #d0823d}
#queensectonia {background-color: #c65368}
#daroach {background-color: #834740}
#darknebula {background-color: #301b6a}
#dynablade {background-color: #963d61}
#marx {background-color: #ba85ea}
#darkmind {background-color: #ce7a3f}
#darkmetaknight {background-color: #534d74}
#nightmare {background-color: #55408F}
#zerotwo {background-color: #ac3931}
#miraclematter {background-color: #b1b197}
#yinyarn {background-color: #4c81b5}
#drawcia {background-color: #593471}
#necrodeus {background-color: #48589C}
#whispywoods {background-color: #6DAC31}
#chefkawasaki {background-color: #c37820}
#bugzzy {background-color: #8b78a5}
#mrshineandmrbright {background-color: #d39b4e}
#kracko {background-color: #abbac7}
#lololoandlalala {background-color: #aa587e}
#mrfrosty {background-color: #6f7bc1}
#heavymole {background-color: #e3cf80}
#paintroller {background-color: #ff6a67}
#ponandcon {background-color: #cb6e3a}
#squishy {background-color: #9bd1c2}
#captainvul {background-color: #a3322a}
#hornhead {background-color: #723876}
#paintra {background-color: #ea809b}
#gigantedge {background-color: #6cafb4}
#mrdooter {background-color: #946bc4}
#goriath {background-color: #ebdb7e}
#metalgeneral {background-color: #d6d32e}
#landia {background-color: #a04f2a}
#pix {background-color: #605757}
#computervirus {background-color: #646a7c}
#gryll {background-color: #d9cd6e}
#claykirby {background-color: #4a8cde}
#splitkirby {background-color: #ffdae3}
#pikachu {background-color: #EDBF34}
#jigglypuff {background-color: #D786E8}
#charizard {background-color: #D66933}
#mewtwo {background-color: #7558BE}
#lucario {background-color: #BFE3FD}
#greninja {background-color: #5D73A5}
#squirtle {background-color: #ef9741}
#ivysaur {background-color: #519f41}
#pichu {background-color: #fffaac}
#blastoise {background-color: #71A7DA}
#meowth {background-color: #E7AC3A}
#gengar {background-color: #3f375d}
#raichu {background-color: #8e6900}
#eevee {background-color: #de9500}
#beedrill {background-color: #9f5858}
#machamp {background-color: #5670b1}
#sandslash {background-color: #655947}
#hitmonlee {background-color: #984437}
#hitmonchan {background-color: #5f5b7b}
#geodude {background-color: #5a494b}
#pinsir {background-color: #8d543e}
#kangaskhan {background-color: #A8A6BD}
#hypno {background-color: #988734}
#cubone {background-color: #775f83}
#alakazam {background-color: #916d64}
#nidoking {background-color: #bd6bd8}
#nidoqueen {background-color: #4481b9}
#ninetales {background-color: #AB4442}
#kabutops {background-color: #746F7A}
#rhydon {background-color: #968987}
#mrmime {background-color: #fcbdc4}
#dragonite {background-color: #a7875e}
#mew {background-color: #b26d6f}
#feraligatr {background-color: #429bc4}
#typhlosion {background-color: #aa6b3c}
#ampharos {background-color: #C36C7B}
#heracross {background-color: #6c7a8b}
#houndoom {background-color: #9a3841}
#scizor {background-color: #bfa156}
#tyranitar {background-color: #8088A4}
#lugia {background-color: #606cde}
#suicune {background-color: #a17cb5}
#sceptile {background-color: #54863d}
#swampert {background-color: #5081be}
#blaziken {background-color: #B55D55}
#gardevoir {background-color: #e07ea0}
#plusleandminun {background-color: #a874e5}
#zangoose {background-color: #9b202c}
#sableye {background-color: #6eabcb}
#banette {background-color: #B95D7B}
#salamence {background-color: #6d79bc}
#metagross {background-color: #577087}
#aggron {background-color: #6c7389}
#deoxys {background-color: #c97566}
#groudon {background-color: #dd8a00}
#rayquaza {background-color: #c8c92b}
#torterra {background-color: #36652c}
#infernape {background-color: #e29c56}
#piplup {background-color: #f2ee93}
#lopunny {background-color: #d1b036}
#garchomp {background-color: #505a7b}
#croagunk {background-color: #E4952F}
#roserade {background-color: #3a7b34}
#abomasnow {background-color: #57716b}
#dusknoir {background-color: #616f08}
#rotom {background-color: #e5a657}
#weavile {background-color: #5667d8}
#gallade {background-color: #8e525f}
#arceus {background-color: #869386}
#darkrai {background-color: #684c90}
#serperior {background-color: #4b9d63}
#braixen {background-color: #b25323}
#zoroark {background-color: #794e54}
#genesect {background-color: #4e2c76}
#bisharp {background-color: #65464f}
#hydreigon {background-color: #893a55}
#cofagrigus {background-color: #4b585d}
#sigilyph {background-color: #5b7b51}
#pangoro {background-color: #5662b1}
#archeops {background-color: #46e5e0}
#golurk {background-color: #1d9cd8}
#garbodor {background-color: #956b2d}
#chandelure {background-color: #C46C41}
#leavanny {background-color: #a1c4a1}
#victini {background-color: #c74f14}
#meloetta {background-color: #5eaabe}
#keldeo {background-color: #ac5e47}
#hawlucha {background-color: #318958}
#goodra {background-color: #9e61e2}
#dedenne {background-color: #c7b48e}
#aegislash {background-color: #7e5a95}
#tyrantrum {background-color: #ac7674}
#diancie {background-color: #d668b9}
#yveltal {background-color: #8e4c3c}
#hoopa {background-color: #c388a4}
#decidueye {background-color: #c94d36}
#incineroar {background-color: #c17b35}
#lycanroc {background-color: #943E46}
#mimikyu {background-color: #855BC7}
#salazzle {background-color: #ba4f74}
#golisopod {background-color: paleturquoise}
#typenull {background-color: #637B46}
#kommoo {background-color: #ceba00}
#buzzwole {background-color: #9d373d}
#tapukoko {background-color: #cdd477}
#marshadow {background-color: #764c95}
#necrozma {background-color: #4e4b48}
#zeraora {background-color: #99d3d3}
#pikachulibre {background-color: #DC5D4B}
#red {background-color: #c62045}
#wes {background-color: #4f739f}
#toddsnap {background-color: #84556b}
#pokemonranger {background-color: #ccba4e}
#teamrocket {background-color: #C85561}
#missingno {background-color: #7B7094}
#samus {background-color: #764e31}
#zerosuitsamus {background-color: #355BA5}
#ridley {background-color: #41365c}
#darksamus {background-color: #3F3D5C}
#trace {background-color: #b4433d}
#kanden {background-color: #6f6f27}
#weavel {background-color: #a2a57c}
#sylux {background-color: #8aaa50}
#spire {background-color: #866544}
#noxus {background-color: #314da3}
#ghor {background-color: #817274}
#rundas {background-color: #4a9c9f}
#gandrayda {background-color: #6f58cb}
#anthonyhiggs {background-color: #ce8743}
#adammalkovich {background-color: #405273}
#motherbrain {background-color: #6c2e1d}
#kraid {background-color: #adc14c}
#crocomire {background-color: #e3a01a}
#omegametroid {background-color: #c73527}
#metroidprime {background-color: #233857}
#sax {background-color: #8458e0}
#federationmarine {background-color: #58759d}
#fox {background-color: #a33a13}
#falco {background-color: #79B0E0}
#wolf {background-color: #655fb2}
#krystal {background-color: #4426a2}
#slippy {background-color: #a2ea36}
#peppy {background-color: #749f85}
#andross {background-color: #8c509f}
#leon {background-color: #337c3b}
#pigma {background-color: #79414d}
#andrew {background-color: #c6b715}
#panther {background-color: #4242c3}
#miyu {background-color: #b8a9ff}
#fay {background-color: #ff97e4}
#generalscales {background-color: #468428}
#tricky {background-color: #b44ba4}
#captainfalcon {background-color: #4144d0}
#blackshadow {background-color: #4D4D4D}
#samuraigoroh {background-color: #b956ad}
#deathborn {background-color: #4c3995}
#jodysummer {background-color: #8F8CD3}
#pico {background-color: #E8B934}
#bloodfalcon {background-color: #cb4239}
#beastman {background-color: #6C8484}
#spade {background-color: #BEBEBE}
#marth {background-color: #6DA8C9}
#ike {background-color: #A94C3D}
#robin {background-color: #BA84DA}
#lucina {background-color: #85A5C7}
#roy {background-color: #A93A2F}
#corrin {background-color: #72A7C0}
#lyn {background-color: #79b178}
#chrom {background-color: #B4B4CB}
#micaiah {background-color: #c73a82}
#anna {background-color: #e3c328}
#hector {background-color: #9d4f41}
#caeda {background-color: #3969cb}
#tiki {background-color: #94c43d}
#blackknight {background-color: #5d0005}
#sothe {background-color: #26ac54}
#eirika {background-color: #118f9d}
#ephraim {background-color: #32bc2e}
#tharja {background-color: #7F6CA6}
#frederick {background-color: #647088}
#lonqu {background-color: #854440}
#nowi {background-color: #ff7768}
#panne {background-color: #895d2b}
#henry {background-color: #482562}
#kellam {background-color: #de7e26}
#sumia {background-color: #faafa9}
#sumia {background-color: #faafa9}
#walhart {background-color: #502c2a}
#ness {background-color: #CC3A3A}
#lucas {background-color: #D0632D}
#jeff {background-color: #78b9a0}
#paula {background-color: #ffa3d3}
#poo {background-color: #a0a0a0}
#kumatora {background-color: #5890fd}
#flint {background-color: #c64540}
#duster {background-color: #3972b4}
#ninten {background-color: #4c58c7}
#ana {background-color: #ff86ca}
#teddy {background-color: #de594f}
#loid {background-color: #aba4eb}
#porky {background-color: #d0a33c}
#giygas {background-color: #b21c10}
#maskedman {background-color: #db7335}
#starman {background-color: #6a78a3}
#flyingman {background-color: #db72bb}
#pigmask {background-color: #8b554e}
#pit {background-color: #89B3D4}
#palutena {background-color: #A1E5BF}
#darkpit {background-color: #9D6FE4}
#medusa {background-color: #4A2E56}
#hades {background-color: #61964f}
#viridi {background-color: #89A490}
#magnus {background-color: #5f5288}
#phosphora {background-color: #3c439b}
#pyrrhon {background-color: #AC4C48}
#thanatos {background-color: #96583e}
#eggplantwizard {background-color: #9484a8}
#fighter {background-color: #fddc5e}
#reaper {background-color: #4f5b83}
#classicpit {background-color: #3792ff}
#olimar {background-color: #e3665d}
#louie {background-color: #829fff}
#alph {background-color: #7db6ff}
#charlie {background-color: #85be47}
#brittany {background-color: #ff6383}
#plasmwraith {background-color: #d4ba61}
#villager {background-color: #66c119}
#tomnook {background-color: #397950}
#resetti {background-color: #bc9131}
#kkslider {background-color: #b1b6b7}
#isabelle {background-color: #ff9cb2}
#gulliver {background-color: #4f71d4}
#blathers {background-color: #c66e33}
#littlemac {background-color: #52755B}
#doclouis {background-color: #ff6e50}
#kinghippo {background-color: #c866d0}
#baldbull {background-color: #862C19}
#mrsandman {background-color: #629A44}
#glassjoe {background-color: #ce462b}
#sodapopinski {background-color: #E7B9F5}
#greattiger {background-color: #ceaa4d}
#donflamenco {background-color: #D84C24}
#aranryan {background-color: #335023}
#discokid {background-color: #86B2DA}
#shulk {background-color: #C76078}
#dunban {background-color: #8D3746}
#riki {background-color: #9277b1}
#fiora {background-color: #9b493d}
#melia {background-color: #5e8e96}
#reyn {background-color: #b9561e}
#elma {background-color: #6DB9AF}
#rexandpyra {background-color: #29b597}
#toraandpoppi {background-color: mediumpurple}
#metalface {background-color: #a2974c}
#xord {background-color: #895127}
#mrgameandwatch {background-color: #A3A190}
#johnsolver {background-color: #d1ca57}
#wolfgaw {background-color: #6b8fb2}
#rob {background-color: #B1B5BB}
#professorhector {background-color: #3F57A7}
#iceclimbers {background-color: #6F5AD3}
#polarbear {background-color: #e269c2}
#duckandhound {background-color: #845C39}
#wiifittrainer {background-color: #A2D47B}
#inklinggirl {background-color: #ffca5e}
#inklingboy {background-color: #5590FA}
#octoling {background-color: #BB5E54}
#djoctavio {background-color: #a75fa2}
#capncuttlefish {background-color: #dbd168}
#miibrawler {background-color: #bf6f6f}
#miiswordfighter {background-color: #5f87a0}
#miigunner {background-color: #ffb086}
#miimage {background-color: plum}
#masterhand {background-color: #e6890a}
#crazyhand {background-color: #3553a2}
#tabuu {background-color: #4d49c4}
#primid {background-color: #613E80}
#galleom {background-color: #5c483f}
#duon {background-color: #4b73cc}
#dragonking {background-color: #8f86ff}
#springman {background-color: #3C66A4}
#ribbongirl {background-color: #C36D26}
#ninjara {background-color: #304E4D}
#mastermummy {background-color: #68568D}
#minmin {background-color: #A2C741}
#mechanica {background-color: #CB5E43}
#twintelle {background-color: #CA9796}
#kidcobra {background-color: #5A4895}
#helix {background-color: #A25A9D}
#misango {background-color: #869F39}
#drcoyle {background-color: #263F14}
#iceclimbers {background-color: #6F5AD3}
#polarbear {background-color: #e269c2}
#isaac {background-color: #f8ab4e}
#felix {background-color: #668459}
#matthew {background-color: #3885db}
#garet {background-color: #c97825}
#starmagician {background-color: #c4b0ff}
#marshall {background-color: #FBFA43}
#karatejoe {background-color: #83A0C8}
#wrestler {background-color: #af4a45}
#rhythmgirl {background-color: #E3A6A9}
#rhythmmonkey {background-color: #d89b58}
#samuraisteve {background-color: #C92F2E}
#andy {background-color: #DB826B}
#sami {background-color: #C74F46}
#lin {background-color: #5B6926}
#sturm {background-color: #343495}
#infantryunit {background-color: #E6B799}
#grunt {background-color: #a0c32c}
#starfy {background-color: #f097ba}
#starly {background-color: #ebde38}
#bunston {background-color: #B0C876}
#mashtooth {background-color: #f05a28}
#jill {background-color: #ffcfdd}
#demille {background-color: #9acfff}
#kururin {background-color: #ebeb5c}
#princesable {background-color: #e69ad8}
#muddymole {background-color: #896231}
#sakiamamiya {background-color: #d4bc5c}
#isajo {background-color: #9ad7e6}
#wonderred {background-color: #C56D6A}
#wonderblue {background-color: #93BEF8}
#wonderpink {background-color: #faaaed}
#wondergreen {background-color: #D0EB9C}
#wonderyellow {background-color: #E3E1A2}
#wonderwhite {background-color: #a2a796}
#vorkken {background-color: #76366C}
#monita {background-color: #73C3E0}
#matt {background-color: #DF7836}
#arcadebunny {background-color: #D3433B}
#snipandclip {background-color: #98FCC7}
#toyconrobot {background-color: #D6C39D}
#laboman {background-color: #79B5DD}
#musashi {background-color: #E0A14A}
#trex {background-color: #C63E1D}
#tricera {background-color: #F5E03F}
#vraptor {background-color: #78b1ff}
#spinax {background-color: #728859}
#takamaru {background-color: #4a6dd9}
#machrider {background-color: #65436a}
#sukapon {background-color: #aa83a0}
#mikejones {background-color: #fa9a23}
#zoda {background-color: #7c2c4e}
#balloonfighter {background-color: #c67059}
#alice {background-color: #ff6152}
#balloonman {background-color: #d1c56a}
#excitebiker {background-color: #7B7676}
#excitebot {background-color: #ffbc50}
#chibirobo {background-color: #83b744}
#doshin {background-color: #bc4233}
#captainrainbow {background-color: #e56ad3}
#raymkiii {background-color: #5c5bd1}
#barbara {background-color: #a541b5}
#nintendog {background-color: #cc882a}
#drkawashima {background-color: #8770bc}
#drlobe {background-color: #d8c41a}
#agentj {background-color: #4473F3}
#ryutaippongi {background-color: #C32222}
#nicky {background-color: #ffd3da}
#vince {background-color: #4f5098}
#lip {background-color: #79B94E}
#cordelia {background-color: #ffd834}
#drwright {background-color: #5B4E8C}
#hakkun {background-color: #B999D8}
#ftype {background-color: #9f605a}
#dion {background-color: #E4912B}
#max {background-color: #68c753}
#jack {background-color: #4d45a3}
#harry {background-color: #370B0B}
#dillon {background-color: #914745}
#nomad {background-color: #8d6325}
#henryflemming {background-color: #9d2424}
#mallo {background-color: #6FBDFB}
#qbby {background-color: #9C9C9C}
#tempo {background-color: #a46bb5}
#sakuramaru {background-color: #546aba}
#rustyslugger {background-color: #b74334}
#eddy {background-color: #B4E4F4}
#gummi {background-color: #F0E9DB}
#nikki {background-color: #F9ECB5}
#iris {background-color: #3C549C}
#wanderinghero {background-color: #DD6123}
#darkemperor {background-color: #c5c66a}
#ultimateghost {background-color: #6c4777}
#spacemercenary {background-color: #485db9}
#goldbone {background-color: #edbe40}
#fynalle {background-color: #89724b}
#bubbles {background-color: #506AAE}
#tamagon {background-color: #879650}
#devil {background-color: #d14c47}
#urbanchampion {background-color: #4c4e93}
#wildgunman {background-color: #954330}
#mrstevenson {background-color: #84662f}
#sheriff {background-color: #454321}
#mryou {background-color: #6f2c25}
#fighterhayabusa {background-color: #764a40}
#starmanw {background-color: #315498}
#donbe {background-color: #659034}
#hikari {background-color: #ff9ed2}
#goku {background-color: #e38a6b}
#ayumi {background-color: #508cff}
#hiro {background-color: #d39285}
#trax {background-color: #494f67}
#teeshotteam {background-color: #ef95a3}
#goose {background-color: #ff603e}
#ryota {background-color: #546fc1}
#kensuke {background-color: #8d94bf}
#cubivore {background-color: #ffa183}
#pockle {background-color: #5978aa}
#johnraimi {background-color: #5e69d0}
#marinaliteyears {background-color: #aa5b46}
#tinstar {background-color: #455c76}
#stfalcon {background-color: #a0322c}
#uniracer {background-color: #617BC0}
#baseballplayer {background-color: #5A903B}
#hockeyplayer {background-color: #abc1e2}
#partyphil {background-color: #efb71a}
#sebastiantutes {background-color: #4e73e5}
#zip {background-color: #e34648}
#omminus {background-color: #7950ed}
#soundkun {background-color: #eb7051}
#kensakurobot {background-color: #afe8ff}
#zael {background-color: #EDDFC8}
#aeron {background-color: #C3903C}
#heracles {background-color: #CEB77C}
#nintendoji {background-color: #b1a74e}
#warriormechgauss {background-color: #5a5c79}
#ashleyrobbins {background-color: #bf9892}
#aisya {background-color: #CB9051}
#kylehyde {background-color: #96a1b1}
#orville {background-color: #9e8bc6}
#welt {background-color: #c4678b}
#endoumamoru {background-color: #48867f}
#electroplankton {background-color: #31549A}
#raymondbryce {background-color: #5A503D}
#diver {background-color: #1a4aa3}
#mack {background-color: #8cb910}
#polarexplorer {background-color: #A4E3ED}
#flipnotefrog {background-color: #b45f2e}
#mrar {background-color: #d9b164}
#faceraider {background-color: #67A6DD}
#photofighter {background-color: #E1892C}
#eshoppingbag {background-color: #ddac4f}
#songbird {background-color: #aaff72}
#artstyle {background-color: #dedede}
#diskun {background-color: #a39862}
#parabo {background-color: #8EC6AF}
#captainn {background-color: #c76b63}
#nester {background-color: #c45831}
#minikangaroo {background-color: #D77029}
#daitoryo {background-color: #9d6e37}
#nonspecificactionfigure {background-color: #3669c6}
#sonic {background-color: #729CEE}
#tails {background-color: #f7cf64}
#knuckles {background-color: #ff5950}
#shadow {background-color: #535353}
#amy {background-color: #ff57a3}
#eggman {background-color: #89413c}
#metalsonic {background-color: #5f68aa}
#silver {background-color: #54beed}
#blaze {background-color: #a876ff}
#espio {background-color: #7f448e}
#vector {background-color: #859f6d}
#rouge {background-color: #7c2f6b}
#big {background-color: #482c86}
#cream {background-color: #c44d00}
#classicsonicandtails {background-color: #52bc52}
#omega {background-color: #88302c}
#gamma {background-color: #4b9116}
#jet {background-color: #e3d424}
#chaos {background-color: #6b879a}
#mechasonic {background-color: #44498e}
#mephiles {background-color: #3d1157}
#tikal {background-color: #769d0a}
#bark {background-color: #cea924}
#fang {background-color: #d993d9}
#mighty {background-color: #912715}
#sticks {background-color: #654943}
#zavok {background-color: #457667}
#zeena {background-color: #af2786}
#infinite {background-color: #893c65}
#heavyking {background-color: #ce4640}
#wave {background-color: #e398fc}
#storm {background-color: #ba5450}
#avatar {background-color: #76962a}
#werehog {background-color: #365374}
#bunnie {background-color: #bc52c1}
#emerl {background-color: #b5963c}
#yacker {background-color: #64A9DC}
#megaman {background-color: #91C0E0}
#protoman {background-color: #B8932E}
#zero {background-color: #354ab4}
#bass {background-color: #6F5493}
#drwilly {background-color: #842721}
#x {background-color: steelblue}
#sigma {background-color: #46672f}
#tronbonne {background-color: #beaa22}
#roll {background-color: #ff837b}
#rush {background-color: #b26874}
#gutsman {background-color: #DC9E45}
#yellowdevil {background-color: #e07430}
#magmadragoon {background-color: #86483b}
#theskiver {background-color: #5d8334}
#pacman {background-color: #E5AF49}
#mspacman {background-color: #d6589a}
#spooky {background-color: #7ea83b}
#betrayus {background-color: #c14b4a}
#snake {background-color: #3e75a7}
#grayfox {background-color: #a79d75}
#raiden {background-color: #763f46}
#ocelot {background-color: #456c55}
#ryu {background-color: #954c4c}
#chunli {background-color: #7886C1}
#mbison {background-color: #b11b01}
#ken {background-color: #b58709}
#blanka {background-color: #aa3e00}
#zangief {background-color: #b13a2f}
#dhalsim {background-color: #a7781a}
#cammy {background-color: #547235}
#akuma {background-color: #433f2d}
#guile {background-color: #b59584}
#crimsonviper {background-color: #a03a56}
#mikehaggar {background-color: #4F5E37}
#poison {background-color: #c683a4}
#cloud {background-color: #569383}
#sephiroth {background-color: #6e6ee5}
#tifa {background-color: #88323A}
#blackmage {background-color: #3d509d}
#whitemage {background-color: #efa6a3}
#moogle {background-color: #ce649b}
#chocobo {background-color: #e0894f}
#cactuar {background-color: #c8d67d}
#bayonetta {background-color: #A39FE1}
#balder {background-color: #4069a7}
#rodin {background-color: #9b3921}
#rayman {background-color: #ce844a}
#globox {background-color: #a7c6e8}
#barbarar {background-color: #63db5d}
#rabbidpeach {background-color: #e6556f}
#banjo {background-color: #63A3F7}
#gruntilda {background-color: #88a05b}
#mumbojumbo {background-color: #bc9a3d}
#klungo {background-color: #cfd678}
#bomberman {background-color: #b44b72}
#simonbelmont {background-color: #65211A}
#alucard {background-color: #be443a}
#shovelknight {background-color: #392C5D}
#blackknights {background-color: #B73634}
#enchantress {background-color: #55801c}
#plagueknight {background-color: #5F4ACE}
#spectreknight {background-color: #919081}
#kingknight {background-color: #871D0F}
#polarknight {background-color: #8FC7B2}
#propellerknight {background-color: #6D170C}
#tinkerknight {background-color: #4E8597}
#moleknight {background-color: #42291B}
#treasureknight {background-color: #405093}
#shantae {background-color: #9D1E1A}
#riskyboots {background-color: #4C3563}
#crash {background-color: #91802E}
#drneocortex {background-color: #ad4c49}
#spyro {background-color: #d3ae41}
#cynder {background-color: #c78ee3}
#crono {background-color: #db9334}
#frog {background-color: #A05560}
#marle {background-color: #d46e4f}
#lucca {background-color: #97b739}
#ayla {background-color: #497aba}
#robo {background-color: #429d5e}
#hero {background-color: #cc812e}
#rocket {background-color: #DDD260}
#sora {background-color: #cc2829}
#neku {background-color: #8980C9}
#agnes {background-color: #E2E3DE}
#nightmares {background-color: #8C503A}
#siegfried {background-color: #6696de}
#sophitia {background-color: #71b9cb}
#raphaels {background-color: #895EA1}
#ivy {background-color: #552d6a}
#charade {background-color: #cea25c}
#heihachi {background-color: #c46e00}
#jin {background-color: #ac4032}
#yoshimitsu {background-color: #966ba7}
#amaterasu {background-color: #79a774}
#chibiterasu {background-color: #ffa6a9}
#arthur {background-color: #A3C5DB}
#firebrand {background-color: #E5A4CB}
#viewtifuljoe {background-color: #CE5998}
#phoenixwright {background-color: #8694AA}
#morrigan {background-color: #DD96A3}
#felicia {background-color: #b9e4ff}
#hsienko {background-color: #986098}
#bbhood {background-color: #862020}
#monsterhunter {background-color: #CF955C}
#jillvalentine {background-color: #7B94B0}
#leonkennedy {background-color: #b4592c}
#chrisredfield {background-color: #9fc754}
#wesker {background-color: #842722}
#dante {background-color: #CA4533}
#trish {background-color: #414d93}
#frankwest {background-color: #751B17}
#nathanspencer {background-color: #45456f}
#striderhiryu {background-color: #9688f2}
#captaincommando {background-color: #e2e863}
#tessa {background-color: #6F2A27}
#zackandwiki {background-color: #ffb79c}
#hayato {background-color: #556789}
#shinkazama {background-color: #a84747}
#taizohori {background-color: #C26921}
#susumuhori {background-color: #86ABFB}
#mappy {background-color: #78C2F1}
#klonoa {background-color: #ECCB3D}
#lloyd {background-color: #A1BEE7}
#tear {background-color: #d19231}
#theprince {background-color: #8CB6E4}
#donchan {background-color: #ff8d65}
#gyaraga {background-color: #5570D1}
#valkyrie {background-color: #8dcc6a}
#gil {background-color: #86c4eb}
#ricktaylor {background-color: #D9312B}
#kosmos {background-color: #C8DEFD}
#clovis {background-color: #ffff9e}
#aiai {background-color: #ff8478}
#amigo {background-color: #91dd48}
#nights {background-color: #cbafff}
#arle {background-color: #aab1ff}
#amitie {background-color: #ffc0c0}
#billyhatcher {background-color: #8aa5ff}
#ristar {background-color: #1a2f93}
#alexkidd {background-color: #a24e4e}
#ulala {background-color: #80B9FB}
#beat {background-color: #81A631}
#akira {background-color: #f86c19}
#joemusashi {background-color: #e6505c}
#gillius {background-color: #efd132}
#tyris {background-color: darkred}
#bdjoe {background-color: #dbc340}
#sketchturner {background-color: #5555ea}
#kidchameleon {background-color: #1d7623}
#vectorman {background-color: #4e54c6}
#warhead {background-color: #b15656}
#pulseman {background-color: #eaea51}
#centurion {background-color: #d47234}
#harrier {background-color: #b9a300}
#vyse {background-color: #ff6868}
#phantomr {background-color: #5252c9}
#opaopa {background-color: #3db13d}
#chuchus {background-color: orange}
#jackcayman {background-color: #d86363}
#blazefielding {background-color: #5d4949}
#redgh {background-color: #ff6e2d}
#chuckdhead {background-color: #9a7b7b}
#bonanzabros {background-color: #a55ca5}
#allislandale {background-color: #ff8399}
#pepper {background-color: #bfa1a1}
#ecco {background-color: #4e4ef0}
#ricky {background-color: #c45917}
#spiralknight {background-color: #40a8a8}
#epsilon {background-color: #be8214}
#drcaine {background-color: #8d200c}
#cyborg127 {background-color: #4b4bc7}
#hornet {background-color: slategrey}
#conker {background-color: #7b7bff}
#joannadark {background-color: #5252c9}
#rash {background-color: #A41B13}
#pimple {background-color: #116FE0}
#zitz {background-color: #762393}
#juno {background-color: #42bec1}
#fulgore {background-color: #D75959}
#spinal {background-color: #76a019}
#thunderfist {background-color: #ddb11e}
#sabreman {background-color: #d8c491}
#kuros {background-color: #ac4d4d}
#jetman {background-color: #5d5959}
#sparkster {background-color: #7777e8}
#goemon {background-color: #8282ba}
#frogger {background-color: green}
#zeke {background-color: #a765a7}
#billrizer {background-color: #c18821}
#twinbee {background-color: #4bb1d3}
#hikaru {background-color: pink}
#vicviper {background-color: #a1a0b1}
#pawapurokun {background-color: #ff7f7f}
#pyramidhead {background-color: #d15656}
#cormano {background-color: #4bbf4b}
#cyborg {background-color: rebeccapurple}
#bubandbob {background-color: #6c6cfd}
#cookingmama {background-color: #ff5673}
#spaceinvaders {background-color: #3c3b53}
#tikinz {background-color: #be7b00}
#earthwormjim {background-color: #1414c7}
#psycrow {background-color: #d85151}
#boogerman {background-color: lightgreen}
#badmrfrosty {background-color: #2f6176}
#ratchetandclank {background-color: #956c02}
#jakanddaxter {background-color: #94b953}
#slycooper {background-color: #9393e0}
#bentley {background-color: #ffd444}
#sackboy {background-color: #8484ff}
#parappa {background-color: #fdb719}
#knack {background-color: #ed6969}
#kutaro {background-color: #8383ff}
#spikeae {background-color: #ffaa83}
#sirdan {background-color: #d89696}
#kratos {background-color: #d64949}
#zeus {background-color: #c9ab0c}
#colemacgrath {background-color: #8a8aff}
#nathandrake {background-color: darkseagreen}
#alexmercer {background-color: indianred}
#sweettooth {background-color: #580e0e}
#toro {background-color: pink}
#fatprincess {background-color: #ffff71}
#kat {background-color: #545479}
#emmett {background-color: #5d5de2}
#nariko {background-color: #b46464}
#dartfeld {background-color: #6660af}
#captainblasto {background-color: #272751}
#scorpion {background-color: #d17100}
#subzero {background-color: #4ebec7}
#raidenm {background-color: #2E3C78}
#shaokahn {background-color: #738d27}
#johnnycage {background-color: #3033a7}
#liukang {background-color: #8F423E}
#reptile {background-color: #7a8e5a}
#ezio {background-color: #9B4740}
#edward {background-color: #4949b1}
#ajayghale {background-color: #6A87B0}
#survivor {background-color: #89330d}
#bud {background-color: deepskyblue}
#steve {background-color: #60c75b}
#layton {background-color: #c4b9ae}
#ryuhayabusa {background-color: #7455b4}
#pete {background-color: #4eaa4e}
#maxwell {background-color: #e2d41d}
#herodtl {background-color: #ff9c9c}
#jibanyan {background-color: #e6ce4a}
#george {background-color: #51b551}
#yu {background-color: #FAF04B}
#flynn {background-color: #585787}
#derekstiles {background-color: #98a6ff}
#zhaoyun {background-color: darkgreen}
#yuuri {background-color: #d8b912}
#travistouchdown {background-color: #7fc6dd}
#alex {background-color: #5E613E}
#maishiranui {background-color: #ffd1f2}
#kasumi {background-color: #9cc7e8}
#triggerhappy {background-color: #DEA32F}
#stealthelf {background-color: #88B44D}
#gilgrunt {background-color: #3A62BA}
#jetvac {background-color: #819ec4}
#whirlwind {background-color: #B1CEF1}
#chopchop {background-color: #5B6279}
#washbuckler {background-color: #72B6E1}
#blastzone {background-color: #BC4225}
#ty {background-color: #5cf45c}
#gex {background-color: #76d17d}
#blinx {background-color: #c486c4}
#splosionman {background-color: #d48d6d}
#blob {background-color: #8686ff}
#chasemccain {background-color: #dbc04f}
#axelsteel {background-color: #832a2a}
#crazydave {background-color: #2aac2a}
#marco {background-color: #c61717}
#billylee {background-color: #76769d}
#alexrcr {background-color: #cb6a6a}
#toejamandearl {background-color: #ceaf02}
#higgins {background-color: #3a7b3a}
#joe {background-color: #7676ff}
#bubsy {background-color: #e86767}
#aero {background-color: #c44242}
#bonk {background-color: #ea6c2d}
#plok {background-color: #ffb100}
#headdy {background-color: #ff7979}
#ardylightfoot {background-color: #6ac4ff}
#zerotks {background-color: rosybrown}
#mrnutz {background-color: #d87252}
#radrex {background-color: darkseagreen}
#kidklown {background-color: #4687ff}
#chuckrock {background-color: #676993}
#karnov {background-color: #ef8300}
#giana {background-color: goldenrod}
#boomer {background-color: lightpink}
#jason {background-color: darkred}
#sophiaiii {background-color: #e0aaaa}
#coolspot {background-color: yellowgreen}
#hammerinharry {background-color: mediumvioletred}
#kidniki {background-color: #d8cc76}
#commanderkeen {background-color: mediumpurple}
#keithcourage {background-color: palevioletred}
#m308gunner {background-color: sandybrown}
#lemmings {background-color: greenyellow}
#pitfallharry {background-color: #d37f42}
#master {background-color: #b2b2ff}
#thomas {background-color: #608BC1}
#shadax {background-color: #C45693}
#qbert {background-color: #EEE93E}
#paperboy {background-color: #7fa0d6}
#dirk {background-color: #ffa05d}
#peterpepper {background-color: #d83d6c}
#tapper {background-color: #fa7878}
#chip {background-color: dimgrey}
#tetromino {background-color: steelblue}
#adventurer {background-color: #A4A4A4}
#hercules {background-color: #BF3DB1}
#davy {background-color: #a8c6ff}
#glover {background-color: #C7643E}
#buckbumble {background-color: #d1b000}
#brian {background-color: #5672A8}
#boyandblob {background-color: #7C84BD}
#patriciawagon {background-color: #D8261C}
#luna {background-color: #ff6e99}
#kebako {background-color: greenyellow}
#meatboy {background-color: #d3b088}
#drfetus {background-color: mediumpurple}
#isaacboi {background-color: #b43d51}
#gish {background-color: #909033}
#spewer {background-color: darkseagreen}
#quote {background-color: #70d818}
#otus {background-color: #d86a6a}
#lilac {background-color: #0093ff}
#hatkid {background-color: #a8a1f5}
#cuphead {background-color: #ff9494}
#juan {background-color: #7AD0B3}
#drifter {background-color: #72d5ff}
#hollowknight {background-color: #6672a8}
#dust {background-color: #39746c}
#filia {background-color: #bf4b4b}
#peacock {background-color: #de72a0}
#commandervideo {background-color: #9acdff}
#castlecrashers {background-color: rebeccapurple}
#hatty {background-color: #d94949}
#alienhominid {background-color: #8af78a}
#cadence {background-color: #D06FDC}
#flinthook {background-color: #5b92d1}
#raz {background-color: #72ba72}
#ori {background-color: darkcyan}
#rusty {background-color: darkslategrey}
#spelunkyguy {background-color: #ba4444}
#beck {background-color: cadetblue}
#gunvolt {background-color: cornflowerblue}
#yookaandlaylee {background-color: indianred}
#octane {background-color: #ea5f08}
#pontius {background-color: darkslategrey}
#zoya {background-color: #cb8049}
#gunmanclive {background-color: #F6E7B3}
#crow {background-color: #463580}
#gomez {background-color: #71a3ce}
#kid {background-color: #4c53a7}
#redt {background-color: indianred}
#frisk {background-color: #f88c8c}
#sans {background-color: #5050fd}
#vicepresident {background-color: #f28b9b}
#wilson {background-color: seagreen}
#terrarian {background-color: lightseagreen}
#speedrunner {background-color: mediumvioletred}
#hue {background-color: #8668F7}
#val {background-color: #BACD4A}
#player {background-color: #2f6fff}
#kaitana {background-color: #54aaaa}
#batter {background-color: #DECB3C}
#theninja {background-color: #b55353}
#xodarap {background-color: darkseagreen}
#wryn {background-color: #ff5d5d}
#octodad {background-color: #c1781f}
#maxmm {background-color: #58dbdb}
#jacket {background-color: #366036}
#josef {background-color: #6f6fd8}
#botanicula {background-color: #B5BF67}
#boy {background-color: #5E605F}
#dive {background-color: #A31C14}
#rambro {background-color: #468046}
#dustman {background-color: slategrey}
#fin {background-color: #cb9454}
#dave {background-color: #BA2F9B}
#duck {background-color: #3F4256}
#rogue {background-color: #c7ba35}
#redneck {background-color: indianred}
#bendy {background-color: #83201D}
#freddyfazbear {background-color: #295725}
#tori {background-color: #becace}
#playergs {background-color: #8BD537}
#goat {background-color: #9898eb}
#bread {background-color: #eacca5}
#fancypantsman {background-color: #ffe1aa}
#lugaru {background-color: #579357}
#teslamancer {background-color: #D27529}
#madeline {background-color: #ff8659}
#irzyka {background-color: #bc9efa}
#fishy {background-color: #ac2d2d}
#n {background-color: #6c3131}
#naija {background-color: slateblue}
#runman {background-color: greenyellow}
#spookyjsm {background-color: #a2bfdb}
#trilby {background-color: #2D5CBB}
#eets {background-color: yellow}
#commando {background-color: #a4c374}
#hardboiledchicken {background-color: #e57b7b}
#playerdlc {background-color: goldenrod}
#drifterx {background-color: rebeccapurple}
#woodletree {background-color: green}
#madotsuki {background-color: #ffb4b4}
#ittledew {background-color: #17d895}
#fishbunjin {background-color: gold}
#princessremedy {background-color: #db66db}
#businesscasualman {background-color: #6565eb}
#zetterburn {background-color: orangered}
#orcane {background-color: #457183}
#kragg {background-color: #3d6d3d}
#maypul {background-color: darkseagreen}
#wrastor {background-color: #bb63c3}
#forsburn {background-color: #aa3509}
#etalus {background-color: #6363b5}
#absa {background-color: #e6daff}
#ranno {background-color: #86b1b1}
#clairen {background-color: #bf9292}
#elliana {background-color: #662cdd}
#sylvanos {background-color: #394d18}
#paco {background-color: #ff8080}
#olaftyson {background-color: #68aeff}
#chieffeathers {background-color: orange}
#kingapu {background-color: #9b5864}
#sephira {background-color: #a2992b}
#volt {background-color: #ffff6e}
#bodvar {background-color: #7cb78c}
#ragnir {background-color: darkred}
#orion {background-color: #ffd875}
#azoth {background-color: #6684ba}
#sirroland {background-color: #587da2}
#cassidy {background-color: #625928}
#masterchief {background-color: #79a03c}
#arbiter {background-color: #408a8d}
#chosenundead {background-color: #983a3a}
#solaire {background-color: #a7c74a}
#hunter {background-color: #6f3838}
#laracroft {background-color: #74a7a7}
#agent47 {background-color: #ad0d0d}
#claptrap {background-color: #8e661b}
#jackb {background-color: #496749}
#delta {background-color: #343480}
#booker {background-color: #2b869b}
#lonewanderer {background-color: #6565d4}
#dragonborn {background-color: #729671}
#alduin {background-color: #843f25}
#doomguy {background-color: #558455}
#cyberdemon {background-color: #812e2e}
#dukenukem {background-color: #bf7f35}
#serioussam {background-color: goldenrod}
#samfisher {background-color: #87a756}
#prince {background-color: #b44413}
#isaacclarke {background-color: #324148}
#shepard {background-color: #39529D}
#marcusfenix {background-color: #5a1111}
#cj {background-color: #774661}
#trevor {background-color: #5d9d0b}
#johnmarston {background-color: #9f4545}
#jimmy {background-color: #3B65A6}
#gordonfreeman {background-color: #ce6102}
#alyx {background-color: #775faa}
#barney {background-color: #196fb7}
#combine {background-color: #8f9ba5}
#scout {background-color: #ff9f9f}
#heavy {background-color: #ce9506}
#soldier {background-color: #886343}
#demoman {background-color: #8A373D}
#pyro {background-color: #dd632e}
#merasmus {background-color: #698631}
#chell {background-color: #7ABDE4}
#louis {background-color: #3B621C}
#counterterrorist {background-color: #cb9911}
#dragonkingd {background-color: #c9653f}
#crystalmaiden {background-color: #80dddd}
#tracer {background-color: #E4A03A}
#reapero {background-color: #32456f}
#winston {background-color: #3594ba}
#genji {background-color: #59c759}
#reinhardt {background-color: #b58937}
#roadhog {background-color: #ba3131}
#dva {background-color: #6262d3}
#ying {background-color: #7f9d91}
#androxus {background-color: #255325}
#cassie {background-color: #be4747}
#bombking {background-color: #ba1870}
#grover {background-color: #393C1B}
#moji {background-color: #388cbe}
#lichking {background-color: #214a7c}
#johnprice {background-color: #345534}
#faith {background-color: #d44545}
#sim {background-color: #68a706}
#dantef {background-color: #b53613}
#ramirez {background-color: #8A54E5}
#battlegroundssoldier {background-color: #DAAC38}
#corvo {background-color: #26675e}
#garrett {background-color: #32326d}
#joel {background-color: #436250}
#mag {background-color: #274f80}
#julietstarling {background-color: #b147b2}
#boss {background-color: #541590}
#death {background-color: #6d3a56}
#asura {background-color: #863535}
#agent {background-color: #3090b1}
#axl {background-color: #D04741}
#klaymen {background-color: #de8462}
#abe {background-color: #9259AD}
#guybrush {background-color: #D67432}
#eddieriggs {background-color: #ba2e4f}
#crypto {background-color: #63b1b1}
#manny {background-color: #5f7183}
#wizard {background-color: darkgoldenrod}
#sherifflonestar {background-color: #6E9CB3}
#worm {background-color: #ea7636}
#teemo {background-color: gold}
#samandmax {background-color: #5587c7}
#oliver {background-color: #b44d8d}
#geolyte {background-color: #a8ffff}
#patapon {background-color: #e6e6e6}
#spikan {background-color: #129a3c}
#pretzelhausen {background-color: #f0ab80}
#kerbonaut {background-color: #3b3b71}
#laharl {background-color: #00a7ff}
#prinny {background-color: #e8bd2f}
#henryhatsworth {background-color: #70bcd1}
#kinggraham {background-color: #dd9c62}
#wanderer {background-color: goldenrod}
#john {background-color: #577283}
#ellieandchomp {background-color: #73AFE7}
#azurik {background-color: mediumpurple}
#dutchmcclone {background-color: #3bc9b9}
#kalas {background-color: #65b59a}
#redsavarin {background-color: #802c2c}
#ragna {background-color: #c92b2b}
#solbadguy {background-color: #5c2a2a}
#reimu {background-color: lightpink}
#kungfuman {background-color: #4f9a4f}
#shn4 {background-color: #8adfea}
#mametchi {background-color: #D34751}
#agumon {background-color: #ff6c00}
#veemon {background-color: #7bc3ff}
#guilmon {background-color: saddlebrown}
#armillo {background-color: #ead773}
#ninja {background-color: teal}
#ninjabreadman {background-color: #b1a647}
#ringmaster {background-color: #d6546b}
#dokaponheroes {background-color: #af5faf}
#scorpiondc {background-color: #ef7f56}
#twinsen {background-color: #7575ff}
#queen {background-color: #3e2a2a}
#blizzard {background-color: #6060b2}
#scottoconner {background-color: #b999fa}
#blackmanta {background-color: #49749f}
#parkwarrior {background-color: #f0cb6e}
#pajamasam {background-color: skyblue}
#robloxian {background-color:#e55050}
#redab {background-color: #7e3737}
#sensei {background-color: #72912D}
#barrysteakfries {background-color: #43539A}
#barbarian {background-color: #887b00}
#epoch {background-color: #17589b}
#punchzerker {background-color: #91723c}
#ralph {background-color: #9a3f3f}
#vanellope {background-color: #db5d9c}
#calhoun {background-color: #10919b}
#tron {background-color: #80dddd}
#segatasanshiro {background-color: #4646d4}
#pepsiman {background-color: steelblue}
#jamesbond {background-color: #c94848}
#mickeymouse {background-color: goldenrod}
#popeye {background-color: #3c883c}
#bulletkin {background-color: #9d2e2e}
#robini {background-color: #af9d3b}
#gangbeast {background-color: #4d4dd3}
#thestranger {background-color: #44ad44}
#prisoner {background-color: #915353}
#dandara {background-color: #a9baaa}
#traceax {background-color: #D1647F}
#welltaro {background-color: #1f1f1f}
#clawedgirl {background-color: #312B6C}
#aloy {background-color: orange}
#tomba {background-color: #56c656}
#rudybb {background-color: #31a3a3}
#boshi {background-color: #678867}
#gum {background-color: lightpink}
#eliwood {background-color: #e28b71}
#alm {background-color: #C57863}
#celica {background-color: #8CA98F}
#camilla {background-color: #5d6b7c}
#grandminimus {background-color: #3bd1a3}
#primarina {background-color: #b3ffff}
#croc {background-color: #6A3D8A}
#metalmario {background-color: #90b990}
#snorlax {background-color: #af3b3b}
#vonkaiser {background-color: #516951}
#supermachoman {background-color: #ae97de}
#adventurepals {background-color: skyblue}
#jeanne {background-color: #ffaaaa}
#centipede {background-color: #e55c5c}
#geralt {background-color: #8fbfe2}
#stickfighter {background-color: #393A36}
#hariet {background-color: #ee90ff}
#excadrill {background-color: #5a7696}
#drakeredcrest {background-color: #B3D5FC}
#ray {background-color: #44d4ff}
#robobotkirby {background-color: #ff8327}
#broomhatter {background-color: #917536}
#pepperroni {background-color: #ff8383}
#richter {background-color: #4A6CA5}
#sidon {background-color: #f5d54d}
#morphoknight {background-color: #ffcb6d}
#diablo {background-color: #ba542e}
#curly {background-color: skyblue}
#tostada {background-color: #ff9cce}
#commandgirlvideo {background-color: #ffe72f}
#hilda {background-color: #503C77}
#buildermario {background-color: #ffeb95}
#toadette {background-color: #ffdae1}
#hornethk {background-color: #c65361}
#yukimura {background-color: #e0c534}
#yuanji {background-color: #95CFD6}
#joker {background-color: darkred}
#callie {background-color: #f398f5}
#marie {background-color: #ccffa5}
#pearl {background-color: #f0a2b2}
#marina {background-color: #80bf89}
#agenteight {background-color: #ff97aa}
#twob {background-color: #84796A}
#tethu {background-color: #AABCE9}
#ladysia {background-color: #507ac9}
#fusionsuitsamus {background-color: #72baba}
#nihilego {background-color: #c4e7ff}
#midnightlycanroc {background-color: #d4bda8}
#apollo {background-color: #db817f}
#sakura {background-color: skyblue}
#wonderblack {background-color: #666876}
#ukiki {background-color: #b6e2b6}
#zack {background-color: #95A6BD}
#olberic {background-color: #C5B99E}
#primrose {background-color: #94675D}
#stardrop {background-color: #D16EF3}
#mae {background-color: #7CAAB6}
#jackthereaper {background-color: #84231F}
#heart {background-color: #ffbbca}
#candyman {background-color: #452B56}
#typoman {background-color: #D4CBAC}
#terry {background-color: #596C89}